<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skew- Repayment Scope Calculator</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/tailwind.css" />
</head>

<body>
    {% include "includes/_messages.html" %}
    {% block body %}
    <div class="main">
        <!-- navbar -->
        <div>
            <div class='nav-1'>
                <div class='nav-2'>
                    <a href="/"><h1 class='nav-brand'>skew</h1></a>
                </div>
                <div class='nav-2'>
                    <a href="/bonus"><h1 class='nav-bonus'>Bonus</h1></a>
                </div>
            </div>
        </div>


        <!-- back input -->
        <div class="back" id="back-input">
            <button onclick="prev()"><img src="/static/images/left-arrow.png" style="width: 100%;"></button>
        </div>

        <!-- form -->
        <!-- questions are asked in reverse order -->
        <form method="POST" action="/bonus-home">
            <div id="15" class="ques">
                <h1 class="ques-h1 mb-2">Time Duration for loan (In months)</h1>
                <input type="text" size="4" maxlength="4" name="time"
                    style="background-color: rgb(20, 42, 93); height: 3rem; font-size: 2rem; caret-color:#818cf8 ;">
                <input type="submit" class="ques-option-inner">
            </div>
            <div id="14" class="ques">
                <h1 class="ques-h1 mb-2">Percentage of Income paid as Installment.</h1>
                <input type="text" size="4" maxlength="4" name="income"
                    style="background-color: rgb(20, 42, 93); height: 3rem; font-size: 2rem; caret-color:#818cf8 ;">
                <input type="button" class="ques-option-inner" onclick="next_text('14')" value="Next">
            </div>
            <div id="13" class="ques">
                <h1 class="ques-h1 mb-2">Age of applicant (In Years)</h1>
                <input type="text" size="4" maxlength="4" name="age"
                    style="background-color: rgb(20, 42, 93); height: 3rem; font-size: 2rem; caret-color:#818cf8 ;">
                <input type="button" class="ques-option-inner" onclick="next_text('13')" value="Next">
            </div>
            <div id="12" class="ques">
                <h1 class="ques-h1 mb-2">Enter the number of Loans taken from Current Bank.</h1>
                <input type="text" size="4" maxlength="4" name="no_loans"
                    style="background-color: rgb(20, 42, 93); height: 3rem; font-size: 2rem; caret-color:#818cf8 ;">
                <input type="button" class="ques-option-inner" onclick="next_text('12')" value="Next">
            </div>
            <!-- <div id="12" class="ques">
                <h1 class="ques-h1 mb-2">Enter the loan amount taken</h1>
                <input type="text" size="4" maxlength="4" name="loan_amount"
                    style="background-color: rgb(20, 42, 93); height: 3rem; font-size: 2rem; caret-color:#818cf8 ;">
                <input type="button" class="ques-option-inner" onclick="next_text('12')" value="Next">
            </div> -->
            <div id="11" class="ques">
                <h1 class="ques-h1 mb-2" style="text-align: center;">Enter the number of People who will provide maintanence.</h1>
                <input type="text" size="4" maxlength="4" name="maintanence"
                    style="background-color: rgb(20, 42, 93); height: 3rem; font-size: 2rem; caret-color:#818cf8 ;">
                <input type="button" class="ques-option-inner" onclick="next_text('11')" value="Next">
            </div>
            <div id="10" class="ques">
                <img src="/static/images/home.png" class="ques-background-img" />
                <h1 class="ques-h1">What is your housing type?</h1>
                <div class="ques-options">
                    <input type="button" onclick="next('10', 'housing_type', 'own')" class="ques-option-inner"
                        value="Own">
                    <input type="button" onclick="next('10', 'housing_type', 'rent')" class="ques-option-inner"
                        value="Rent">
                </div>
            </div>
            <div id="9" class="ques">
                <img src="/static/images/work.png" class="ques-background-img img-special" style="left: 0" />
                <h1 class="ques-h1">Please enter your job type</h1>
                <div class="ques-options flex-col w-2/5">
                    <input type="button" onclick="next('9', 'job_type', 'skilled')" class="ques-option-inner"
                        value="Skilled">
                    <input type="button" onclick="next('9', 'job_type', 'unskilled')" class="ques-option-inner"
                        value="Unskilled">
                    <input type="button" onclick="next('9', 'job_type', 'self employed')" class="ques-option-inner"
                        value="Self employed">
                    <input type="button" onclick="next('9', 'job_type', 'unemployed')" class="ques-option-inner"
                        value="Unemployed">
                </div>
            </div>
            <div id="8" class="ques">
                <img src="/static/images/house.png" class="ques-background-img" style="left: 0" />
                <h1 class="ques-h1">Do you own any property?</h1>
                <div class="ques-options">
                    <input type="button" onclick="next('8', 'property', 'yes')" class="ques-option-inner" value="Yes">
                    <input type="button" onclick="next('8', 'property', 'no')" class="ques-option-inner" value="No">
                </div>
            </div>
            <div id="7" class="ques">
                <img src="/static/images/other_loan.png" class="ques-background-img" />
                <h1 class="ques-h1">Have you taken any other loans?</h1>
                <div class="ques-options">
                    <input type="button" onclick="next('7', 'other_loans', 'yes')" class="ques-option-inner"
                        value="Yes">
                    <input type="button" onclick="next('7', 'other_loans', 'no')" class="ques-option-inner" value="No">
                </div>
            </div>
            <div id="6" class="ques">
                <img src="/static/images/savings.png" class="ques-background-img" style="right: 0" />
                <h1 class="ques-h1">Your savings account balance?</h1>
                <div class="ques-options" style="flex-direction: column">
                    <input type="button" onclick="next('6', 'sab', 'less than 100')" class="ques-option-inner"
                        value="less than 100">
                    <input type="button" onclick="next('6', 'sab', 'between 100 and 500')" class="ques-option-inner"
                        value="between 100 and 500">
                    <input type="button" onclick="next('6', 'sab', 'above 500')" class="ques-option-inner"
                        value="above 500">
                </div>
            </div>
            <div id="5" class="ques">
                <img src="/static/images/current.png" class="ques-background-img" style="left: 0" />
                <h1 class="ques-h1">Your current account balance?</h1>
                <div class="ques-options" style="flex-direction: column">
                    <input type="button" onclick="next('5', 'cab', 'between 0 and 200')" class="ques-option-inner"
                        value="between 0 and 200">
                    <input type="button" onclick="next('5', 'cab', 'greater than 200')" class="ques-option-inner"
                        value="greater than 200">
                    <input type="button" onclick="next('5', 'cab', 'less than 0/no account')" class="ques-option-inner"
                        value="Less than 0/ No Account">
                </div>
            </div>
            <div id="4" class="ques">
                <img src="/static/images/loan.png" class="ques-background-img img-special" style="left: 0" />
                <h1 class="ques-h1">Please enter your loan history</h1>
                <div class="ques-options" style="flex-direction: column; width: 80%">

                    <input type="button" onclick="next('4', 'loan_history', 'no loans taken/all loans paid back duly')"
                        class="ques-option-inner"
                        value="No loans taken at previously/ All past loans paid pack duly and no other loans exist currently">
                    <input type="button" onclick="next('4', 'loan_history', 'critical account')"
                        class="ques-option-inner" value="critical account">
                    <input type="button" onclick="next('4', 'loan_history', 'existing loans paid back duly till now')"
                        class="ques-option-inner"   
                        value="I have other ongoing loans but I have paid all my dues promptly so far">
                    <input type="button" onclick="next('4', 'loan_history', 'delay in paying off loans in the past')"
                        class="ques-option-inner" value="I have had delay in paying off loans in the past">
                </div>
            </div>
            <div id="3" class="ques">
                <img src="/static/images/guarantor.png" class="ques-background-img"
                    style="filter: brightness(50%); left: 0" />
                <h1 class="ques-h1">Do you have a guarantor or Co-applicant?</h1>
                <div class="ques-options">
                    <input type="button" onclick="next('3', 'g_co', 'gaurantor')" class="ques-option-inner"
                        value="Guarantor">
                    <input type="button" onclick="next('3', 'g_co', 'co-applicant')" class="ques-option-inner"
                        value="Co-applicant">
                    <input type="button" onclick="next('3', 'g_co', 'none')" class="ques-option-inner" value="None">

                </div>
            </div>
            <div id="2" class="ques">
                <img src="/static/images/married.png" class="ques-background-img" style="filter: brightness(100%)" />
                <h1 class="ques-h1">Please mention your marital status</h1>
                <div class="ques-options">
                    <input type="button" onclick="next('2', 'marital', 'married')" class="ques-option-inner"
                        value="Married">
                    <input type="button" onclick="next('2', 'marital', 'single/divorced')" class="ques-option-inner"
                        value="Single/Divorced">
                </div>
            </div>
            <div id="1" class="ques">
                <img src="/static/images/gender.png" class="ques-background-img"
                    style="filter: brightness(75%); right: 0; bottom: 5%" />
                <h1 class="ques-h1">What is your Gender?*</h1>
                <p style="
              position: absolute;
              bottom: 0;
              left: 0;
              color: rgb(140, 140, 140);
              padding-left: 5px;
            ">
                    *We apologise for the lack of other options. Kindly choose the
                    gender that identifies you best.
                </p>
                <div class="ques-options">
                    <input type="button" onclick="next('1', 'gender', 'male')" class="ques-option-inner" value="Male">
                    <input type="button" onclick="next('1', 'gender', 'female')" class="ques-option-inner"
                        value="Female">
                </div>
            </div>
            <input hidden type="text" name="gender" value="" id="gender">
            <input hidden type="text" name="marital" value="" id="marital">
            <input hidden type="text" name="g_co" value="" id="g_co">
            <input hidden type="text" name="loan_history" value="" id="loan_history">
            <input hidden type="text" name="cab" value="" id="cab">
            <input hidden type="text" name="sab" value="" id="sab">
            <input hidden type="text" name="other_loans" value="" id="other_loans">
            <input hidden type="text" name="property" value="" id="property">
            <input hidden type="text" name="job_type" value="" id="job_type">
            <input hidden type="text" name="housing_type" value="" id="housing_type">
        </form>
    </div>
    <script>
        var back = 1;
        function prev() {
            back -= 1;
            document.getElementById(back.toString()).childNodes[1].classList.remove("move-down");
            document.getElementById(back.toString()).classList.remove("move-right");
            if (back == 1) {
                document.getElementById("back-input").classList.remove("visible");
            }
        }
        function next(index, ques_id, value) {
            document.getElementById(index).childNodes[1].classList.add("move-down");
            // let index_int = parseInt(index)-1;
            // let prev = index_int.toString();
            // document.getElementById(prev).classList.add("pop-out");
            document.getElementById(index).classList.add("move-right");
            back += 1;
            document.getElementById(ques_id).value = value;
            if (back > 1) {
                document.getElementById("back-input").classList.add("visible");
            }

            // setTimeout(function(){
            //     document.getElementById(prev).classList.remove("pop-out");
            // }, 2000);
        }
        function next_text(index_text) {
            document.getElementById(index_text).classList.add("move-right");
            back += 1;
            if (back > 1) {
                document.getElementById("back-input").classList.add("visible");
            }
            console.log(back);
        }
    </script>

    {% endblock %}

</body>

</html>