<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skew- Repayment Scope Calculator</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/tailwind.css" />
</head>

<body>
    <div class="main">
        <!-- navbar -->
        <div>
            <div class='nav-1'>
                <div class='nav-2'>
                    <a href="/"><h1 class='nav-brand'>skew</h1></a>
                </div>
                <div class='nav-2'>
                    <a href="/bonus"><h1 class='nav-bonus'>Bonus</h1></a>
                </div>
            </div>
        </div>

        <div class="landing-1">
            <h1 class="result-h1">We are sorry but you don't think you can repay your loan!</h1>
            <h1 class="result-h2"><a href="/home">Click here to check again</a></h1>
        </div>
    </div>
</body>