<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zenith- loan eligibility checker</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/global.css">
    <link rel="stylesheet" href="/static/tailwind.css">
</head>

<body>
    <div class="main">
        <!-- navbar -->
        <div>
            <div class='nav-1'>
                <div class='nav-2'>
                    <a href="/"><h1 class='nav-brand'>zenith</h1></a>
                </div>
            </div>
        </div>

        <!-- landing -->
        <div class="landing-1">
            <h1 class="landing-h1">76% OF PERSONAL LOAN APPLICATIONS ARE <span class="turn-red">declined</span>.</h1>
            <h1 class="landing-h2">CHECK YOUR ELIGIBILITY TODAY.</h1>
            <a href="/home" class="landing-button"><button>continue</button></a>
        </div>
    </div>
</body>

</html>